/* ROUGE THEMES */
@import url('/assets/css/light_syntax.css');
@import url('/assets/css/dark_syntax.css') (prefers-color-scheme: dark);

/* MAIN CONTENT */
@import url('/assets/css/content.css');
p:last-child {
  border-top: 1px solid var(--border-color);
  color: var(--dim-text-color);
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.25em;
  margin-top: 2em;
  padding-top: 0.5em;
  text-indent: 0;
}

/* SYNTAX HIGHLIGHTING */
.codespan {
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 0 0.2em;
  color: #990000;
}
@media (prefers-color-scheme: dark) {
  .codespan {
    background-color: #272822;
    color: #a6e22e;
  }
}
code {
  font-family: 'Fira Code', monospace;
}

/* CODE BLOCKS */
.highlight {
  margin: 0;
  padding: 0.4em 0.6em;
  position: relative;
}
.highlight pre {
  margin: 0;
}
.highlight pre::before {
  color: var(--dim-text-color);
  content: attr(class);
  font-family: var(--cursive-font), cursive;
  font-size: 0.8em;
  position: absolute;
  right: 0.3em;
  text-transform: capitalize;
  top: -0.2em;
}
.clipboard {
  bottom: 0.2em;
  color: var(--dim-text-color);
  cursor: copy;
  position: absolute;
  right: 0.2em;
}
.clipboard:hover {
  color: var(--text-color);
}
.clipboard:active:hover {
  color: var(--link-color);
}
