.content {
  padding-top: 1rem;
}
.content > p:first-child:first-letter {
  font-family: var(--cursive-font), cursive;
  font-size: 3em;
  text-transform: capitalize;
}
.content > :first-child {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 0;
  margin-top: 2em;
}
p {
  text-indent: 1em;
}

.content > p:last-child {
  border-top: 1px solid var(--border-color);
  color: var(--dim-text-color);
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.25em;
  margin-top: 2em;
  padding-top: 0.5em;
  text-indent: 0;
}
