.article-title {
  font-family: 'Patrick Hand', cursive;
  font-size: calc(var(--half-font-multiplier) * 3rem);
  margin-bottom: 0;
  line-height: 0.9em;
  margin-top: 2rem;
}

.article-date {
  color: var(--dim-text-color);
  font-size: calc(var(--font-multiplier) * 1.2rem);
  font-style: italic;
}

.article-summary {
  margin: 0.5em 0;
}
a.read-more,
a.read-more:visited {
  border: 1px solid var(--text-color);
  border-radius: 1em;
  bottom: 1px;
  color: var(--text-color);
  font-size: 0.8em;
  font-style: italic;
  padding: 0 0.3em;
  position: relative;
  text-decoration: none;
}
a.read-more:hover {
  background-color: var(--bg-color);
  border: 1px solid var(--visited-link-color);
  color: var(--visited-link-color);
}
