.pagination {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}

.pagination a:nth-child(2) {
  border-left: solid 2px var(--main-text-color);
  padding-left: 1em;
  margin-left: 1em;
}
