.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.pagination a:not(:first-child) {
  border-left: solid 2px var(--main-text-color);
  margin-left: 1em;
  padding-left: 1em;
}
