body {
  --sidebar-shown: none;

  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
  padding: 0;
}

.upper-left {
  align-self: center;
  position: sticky;
  text-align: center;
  top: 0;
}

#show-sidebar-button {
  cursor: pointer;
  font-size: 2em;
}
#hide-sidebar-button {
  cursor: pointer;
  font-size: 2em;
  margin-right: 1em;
  text-align: right;
}

.artisanal-letter {
  font-family: 'Parisienne', cursive;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#corner-artisanal-letter {
  display: none;
  font-size: 4em;
}

.headline {
  background: white;
  position: sticky;
  top: 0;
}

.sidebar {
  height: 0;
  margin: 0 1em;
  position: sticky;
  top: 6em;
  width: 100%;
}
.sidebar * {
  display: var(--sidebar-shown);
}
.profile-pic {
  width: calc(100% - 2em);
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 800px) {
  body {
    --sidebar-shown: block;
  }

  #show-sidebar-button {
    display: none;
  }

  #corner-artisanal-letter {
    display: block;
  }
  #headline-artisanal-letter {
    display: none;
  }
}
