body, html {
  height: 100%;
}

body {
  --sidebar-showing: none;
  --sidebar-hidden: revert;

  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-left: 1em;
  padding: 0;
}

/* SIDEBAR */
.sidebar {
  --button-size: 2em;
}

#show-sidebar-button,
#hide-sidebar-button {
  cursor: pointer;
  font-size: var(--button-size);
}
#show-sidebar-button {
  display: var(--sidebar-hidden);
}
#hide-sidebar-button {
  display: var(--sidebar-showing);
  float: right;
}

.upper-left {
  height: 4em;
  margin: 1em 0.5em;
  text-align: center;
}
.artisanal-letter {
  display: var(--sidebar-showing);
  font-family: 'Parisienne', cursive;
  font-size: 4em;
  text-decoration: none;
}

.sidebar-links {
  display: var(--sidebar-showing);
}
.sidebar-links * {
  display: block;
}
.profile-pic {
  margin: auto;
  width: 10em;
}
.home-link,
.about-link {
  text-align: center;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sidebar-header {
  display: var(--sidebar-hidden);
  font-family: 'Patrick Hand', cursive;
  font-size: 4em;
  left: 0;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: none;
  top: 10rem;
  transform: rotate(90deg);
  transform-origin: 1em 0;
}

/* MAIN */
.main {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-left: 1em;
  overflow: hidden;
}

.headline {
  border-bottom: 1px solid black;
  padding: 1em 0;
  text-align: center;
}
.headline h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.article {
  border-left: 1px solid black;
  padding-left: 1em;
  padding-top: 1em;
  overflow-y: scroll;
}
.article p:first-child {
  margin-top: 0;
}

/* MEDIUM SCREENS */
@media only screen and (min-width: 1024px) {
  body {
    --sidebar-showing: revert;
    --sidebar-hidden: none;
  }
}

/* WIDE SCREENS */
@media only screen and (min-width: 1200px) {
  #hide-sidebar-button {
    display: none;
  }
}
