- tagname = defined?(tagname) ? tagname
ul.tags
  <% blog.tags.sort_by { |_, articles| -articles.length }.each { |tag, _| %>
    <% tag_class = (tag == tagname) ? "current" : "tag" %>
    <li><%= link_to tag, tag_path(tag), class: tag_class %></li>
  <% } %>
</ul>
