<% tagname = defined?(tagname) ? tagname : "" %>
<ul class="tags">
  <% blog.tags.sort.each { |tag, articles| %>
    <% tag_class = (tag == tagname) ? "current" : "tag" %>
    <li><%= link_to tag, tag_path(tag), class: tag_class %></li>
  <% } %>
</ul>
