---
title: About Artisanal
---
- content_for :assets
  ==stylesheet_link_tag :content

markdown:
  ## Me

  Hello there!  My name is Justin Bishop, but most people nowadays just call me "Jubi".  I live in Seattle with my beautiful wife, two adorable children, and a sweet pup named Belle.  I work as a Software Engineer at Google.  You can learn a ton more about me on my personal homepage at https://jubishop.com.

  ## Artisanal Software

  This blog is a place to share whatever I'm finding interesting.  I consider it my digital garden, and like any garden it is constantly changing and may very well contain weeds.  Nothing here is final or perfect.  I'm always figuring stuff out as I go, and I quite often discover my original methods or ideas were wrong.  I'd love to learn from you, so if you have any corrections, suggestions, or ideas:  hit me up at jubi@jubishop.com.

  ## Built with Middleman

  This site is built with [Middleman](https://middlemanapp.com) and [Slim](http://slim-lang.com).  Check them out!
